*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
backend/freya-connector-web/.classpath
backend/freya-connector-web/.gitignore
backend/freya-connector-web/.project
backend/freya-connector-web/.settings/.jsdtscope
backend/freya-connector-web/.settings/org.eclipse.core.resources.prefs
backend/freya-connector-web/.settings/org.eclipse.jdt.core.prefs
backend/freya-connector-web/.settings/org.eclipse.m2e.core.prefs
backend/freya-connector-web/.settings/org.eclipse.wst.common.component
backend/freya-connector-web/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
backend/freya-connector-web/.settings/org.eclipse.wst.common.project.facet.core.xml
backend/freya-connector-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
backend/freya-connector-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
backend/freya-connector-web/.settings/org.eclipse.wst.validation.prefs
backend/freya-ear/.gitignore
backend/freya-ear/.project
backend/freya-ear/.settings/org.eclipse.core.resources.prefs
backend/freya-ear/.settings/org.eclipse.m2e.core.prefs
backend/freya-ear/.settings/org.eclipse.wst.common.component
backend/freya-ear/.settings/org.eclipse.wst.common.project.facet.core.xml
backend/freya-ear/.settings/org.eclipse.wst.validation.prefs
backend/freya-ejb/.classpath
backend/freya-ejb/.gitignore
backend/freya-ejb/.project
backend/freya-ejb/.settings/org.eclipse.core.resources.prefs
backend/freya-ejb/.settings/org.eclipse.jdt.core.prefs
backend/freya-ejb/.settings/org.eclipse.jpt.core.prefs
backend/freya-ejb/.settings/org.eclipse.m2e.core.prefs
backend/freya-ejb/.settings/org.eclipse.wst.common.component
backend/freya-ejb/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
backend/freya-ejb/.settings/org.eclipse.wst.common.project.facet.core.xml
backend/freya-ejb/.settings/org.eclipse.wst.validation.prefs
backend/freya-ejb/.settings/org.hibernate.eclipse.console.prefs
backend/freya-if/.classpath
backend/freya-if/.gitignore
backend/freya-if/.project
backend/freya-if/.settings/org.eclipse.core.resources.prefs
backend/freya-if/.settings/org.eclipse.jdt.core.prefs
backend/freya-if/.settings/org.eclipse.m2e.core.prefs
backend/freya-if/.settings/org.eclipse.wst.common.component
backend/freya-if/.settings/org.eclipse.wst.common.project.facet.core.xml
backend/freya-web/.classpath
backend/freya-web/.gitignore
backend/freya-web/.project
backend/freya-web/.settings/.jsdtscope
backend/freya-web/.settings/org.eclipse.core.resources.prefs
backend/freya-web/.settings/org.eclipse.jdt.core.prefs
backend/freya-web/.settings/org.eclipse.m2e.core.prefs
backend/freya-web/.settings/org.eclipse.wst.common.component
backend/freya-web/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
backend/freya-web/.settings/org.eclipse.wst.common.project.facet.core.xml
backend/freya-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
backend/freya-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
backend/freya-web/.settings/org.eclipse.wst.validation.prefs
